.card-container {
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 7rem;

  @include respond(tab-land) {
    max-width: 100rem;
    grid-gap: 4rem;
  }

  @include respond(tab-port) {
    max-width: 70rem;
    grid-gap: 5.5rem;
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond(phone) {
    max-width: 30rem;
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  background-color: $color-white;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  flex-wrap: nowrap;

  &__header {
    position: relative;
  }

  &__picture {
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
    clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
    height: 22rem;

    &-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: -webkit-gradient(
        linear,
        left top,
        right bottom,
        from($color-primary-light),
        to($color-primary-dark)
      );
      background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
      opacity: 0.7;
    }

    &-img {
      -o-object-fit: cover;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__heading {
    font-size: 2.7rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 11.5rem;
    right: 1.5rem;
    width: 65%;
    z-index: 10;

    @include respond(tab-land) {
      width: 60%;
      font-size: 2.2rem;
    }

    @include respond(tab-port) {
      width: 55%;
      font-size: 2.1rem;
    }

    &-span {
      padding: 1rem 1.7rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      background-image: -webkit-gradient(
        linear,
        left top,
        right bottom,
        from(rgba(125, 213, 111, 0.85)),
        to(rgba(40, 180, 135, 0.85))
      );
      background-image: linear-gradient(
        to bottom right,
        rgba(125, 213, 111, 0.85),
        rgba(40, 180, 135, 0.85)
      );
    }
  }

  &__details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1.75rem;
    grid-column-gap: 2rem;
    padding: 2.5rem 3rem;

    @include respond(tab-land) {
      grid-row-gap: 1.4rem;
      grid-column-gap: 1.5rem;
      padding: 1.5rem 2rem;
    }
  }

  &__sub-heading {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    grid-column: 1 / -1;

    @include respond(tab-land) {
      font-size: 1.25rem;
    }
  }

  &__text {
    grid-column: 1 / -1;
    font-size: 1.5rem;
    font-style: italic;
    margin-top: -1rem;
    margin-bottom: 0.75rem;
    @include respond(tab-land) {
      font-size: 1.1rem;
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: $color-primary;

    @include respond(tab-land) {
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  &__data {
    font-size: 1.3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    @include respond(tab-land) {
      font-size: 1rem;
    }

    & svg {
      margin-right: 0.7rem;
    }
  }

  &__footer {
    background-color: $color-grey-light-1;
    padding: 2.5rem 3rem;
    border-top: 1px solid $color-grey-light-5;
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin-top: auto;

    @include respond(tab-land) {
      font-size: 1.1rem;
    }

    &-value {
      font-weight: 700;
    }

    &-text {
      color: $color-grey-dark-2;
    }
  }

  &__ratings {
    grid-row: 2 / 3;
  }

  & .btn-small,
  & .btn {
    grid-row: 1 / 3;
    justify-self: end;
    -ms-flex-item-align: center;
    align-self: center;
  }
}
