.footer {
  margin-top: -10rem;
  padding: 10rem 6rem 6rem 6rem;
  background-color: $color-grey-dark-3;
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 0.75rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 999;
  width: calc((100% - 0rem));

  @include respond(tab-port) {
    margin-top: -7rem;
    padding: 7rem 6rem 5rem 6rem;
    width: calc((100% - 0rem));
  }

  @include respond(phone) {
    font-size: 1.1rem;
  }

  &__logo {
    grid-row: 1 / 3;
    -ms-flex-item-align: center;
    align-self: center;

    & img {
      height: 4rem;

      @include respond(tab-port) {
        height: 6rem;
      }
    }
  }

  &__nav {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: end;
    text-align: center;

    & li:not(:first-child) {
      margin-left: 1.5rem;
    }

    & a {
      color: $color-grey-light-1;
      text-decoration: none !important;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;

      &:hover,
      &:active {
        color: $color-primary;
      }
    }
  }

  &__copyright {
    justify-self: end;
    color: $color-grey-light-3;
  }
}

@include respond(phone) {
  .footer {
    grid-template-columns: 1fr;
    grid-row-gap: 1.25rem;
    justify-items: center;

    &__logo {
      grid-row: 1;
    }

    &__copyright {
      justify-self: center;
      text-align: center;
    }
  }
}
