.heading-secondary {
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: -webkit-gradient(linear, left top, right top, from($color-primary-light), to($color-primary-dark));
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.1rem;
    line-height: 1.3;
  }
  .heading-secondary--error {
    background-image: -webkit-gradient(linear, left top, right top, from($color-secondary-dark), to($color-failure));
    background-image: linear-gradient(to right, $color-secondary-dark, $color-failure);
    font-size: 3.5rem;
  }
  
  .heading-primary,
  .heading-tertirary {
    color: $color-white;
    text-transform: uppercase;
    font-weight: 300;
  }
  .heading-primary span,
  .heading-tertirary span {
    padding: 1rem 1.5rem;
    line-height: 1;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(rgba(125, 213, 111, 0.85)),
      to(rgba(40, 180, 135, 0.85))
    );
    background-image: linear-gradient(
      to bottom right,
      rgba(125, 213, 111, 0.85),
      rgba(40, 180, 135, 0.85)
    );
  }
  
  .heading-primary {
    font-size: 5rem;
    text-align: center;
    width: 70%;
    margin: 0 auto;
  }
  
  .heading-tertirary {
    font-size: 2.75rem;
    text-align: right;
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    width: 70%;
    z-index: 10;
  }
  