extends base

block content
  //- Header
  include _header

  main.form-main.u-margin-bottom-big
    .forgot_reset-form
      form.form.form--forgotPassword
        .form__group.ma-bt-md
          label.form__label(for='email') Email address
          input#email.form__input(
            type='email',
            name='email',
            placeholder='you@example.com',
            required
          )
        .form__group
          button.btn.btn--green(type='submit') Reset Password
