// Landing Page
.header-container {
  height: 92vh;
  margin-top: -1rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);

  @include respond(tab-port) {
    height: 95vh;
  }

  @include respond(phone) {
    height: 105vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 82vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 82vh, 0 100%);
  }

  @include respond(min-tab-land) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  }

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90vw;
  }
}

// About Page
.section-about {
  background-color: $color-grey-light-1;
  padding: 20rem 0;
  transform: skewY(-7deg);
  margin-top: -15rem;
  z-index: 10;

  @include respond(tab-port) {
    margin-top: -23rem;
  }

  & > * {
    transform: skewY(7deg);
  }
}

// Features Page
.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 15rem 6rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-stories {
  position: relative;
  padding: 15rem 0;
  backface-visibility: hidden;
  transform: skewY(-7deg);
  z-index: 99;

  & > *:not(:first-child) {
    transform: skewY(7deg);
  }

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-apply {
  padding: 25rem 0;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
  -webkit-clip-path: polygon(0 13vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 13vh, 100% 0, 100% 100%, 0 100%);
  margin-top: -13vh;
  z-index: 100;
  position: relative;

  @include respond(tab-land) {
    -webkit-clip-path: polygon(0 19vh, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 19vh, 100% 0, 100% 100%, 0 100%);
  }

  @include respond(tab-port) {
    margin-top: -11vh;
    padding: 15rem 0;
    -webkit-clip-path: polygon(0 17vh, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 17vh, 100% 0, 100% 100%, 0 100%);
  }

  @include respond(phone) {
    padding: 15rem 0;
    margin-top: -11vh;
    -webkit-clip-path: polygon(0 12vh, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 12vh, 100% 0, 100% 100%, 0 100%);
  }

  @media screen and (max-width: 25.5em) {
    margin-top: -11vh;
    -webkit-clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);
  }
}

.apply {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../../img/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

  @include respond(tab-land) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 65%,
        transparent 65%
      ),
      url(../../img/nat-10.jpg);
    background-size: cover;
  }

  @include respond(tab-port) {
    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 100%
      ),
      url(../../img/nat-10.jpg);
  }

  &__form {
    width: 45%;
    padding: 6rem;

    @include respond(tab-land) {
      width: 65%;
    }

    @include respond(tab-port) {
      width: 100%;
      padding: 3.9rem;
    }
  }
}
