.section-header {
  position: relative;
  height: 80vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--section-rotate)), 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--section-rotate)), 0 100%);

  @include respond(tab-land) {
    height: 70vh;
  }

  @include respond(tab-port) {
    height: 60vh;
  }

  @include respond(phone) {
    height: 45vh;
  }
}

.header__hero {
  height: 100%;

  &-img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
    -o-object-position: 50% 25%;
    object-position: 50% 25%;
  }

  &-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from($color-primary-light),
      to($color-primary-dark)
    );
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    opacity: 0.85;
  }
}

.heading-box {
  position: absolute;
  bottom: 13vw;
  left: 50%;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  @include respond(tab-port) {
    top: 40%;
    width: 52rem;
  }

  @include respond(phone) {
    width: 26rem;
  }

  &__group {
    color: $color-grey-light-1;
    margin-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    @include respond(phone) {
      margin-top: 1.5rem;
    }
  }

  &__detail {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);

    @include respond(phone) {
      font-size: 1.1rem;
      font-weight: 600;
    }
  }

  &__detail svg {
    margin-right: 0.8rem;

    @include respond(phone) {
      margin-right: 0.4rem;
    }
  }

  &__detail:not(:last-child) {
    margin-right: 4rem;

    @include respond(phone) {
      margin-right: 2.2rem;
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: currentColor;
    -webkit-filter: drop-shadow(0 0.75rem 0.5rem rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0 0.75rem 0.5rem rgba(0, 0, 0, 0.25));

    @include respond(phone) {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}

.section-description {
  background-color: $color-grey-light-6;
  margin-top: calc(0px - var(--section-rotate));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  & > * {
    padding: 0 8vw;
    padding-top: 14vw;
    padding-bottom: calc(1vw + var(--section-rotate));
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }

  @include respond(phone) {
    flex-direction: column-reverse;
  }
}

.description-box {
  @include respond(phone) {
    padding: 10rem 8rem;
  }

  & .description__text {
    font-size: 1.7rem;
  }

  & .description__text:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.overview-box {
  background-color: $color-grey-light-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  @include respond(phone) {
    align-items: center;
    flex-direction: column;
    padding: 8rem 6rem 10rem 6rem;
  }

  &__group:not(:last-child) {
    margin-bottom: 7rem;
  }

  &__detail {
    font-size: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 400;
  }

  &__detail svg {
    margin-right: 1.25rem;
  }

  &__detail:not(:last-child) {
    margin-bottom: 2.25rem;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: $color-primary;
  }

  &__label {
    font-weight: 700;
    margin-right: 2.25rem;
    text-transform: uppercase;
    font-size: 1.4rem;
  }

  &__text {
    text-transform: capitalize;
  }

  &__img {
    border-radius: 50%;
    height: 3.5rem;
    margin-right: 1.25rem;
  }
}

.section-pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  clip-path: polygon(
    0 var(--section-rotate),
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
  -webkit-clip-path: polygon(
    0 var(--section-rotate),
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
  margin-top: calc(0px - var(--section-rotate));
  position: relative;
  z-index: 1000;
}

.picture-box__img {
  display: block;
  width: 100%;
  height: 110%;
  -o-object-fit: cover;
  object-fit: cover;

  &--1 {
    padding-top: 15%;
  }

  &--2 {
    padding-bottom: 15%;
  }

  &--3 {
    padding-bottom: 27%;
  }
}

.section-map {
  position: relative;
  height: 65rem;
  margin-top: calc(0px - var(--section-rotate));
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.marker {
  background-image: url('../img/pin.png');
  background-size: cover;
  width: 32px;
  height: 40px;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 25rem;

  &-content {
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 1.5rem !important;
    font-size: 1.4rem;
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15) !important;
  }
}

.section-reviews {
  margin-top: calc(0px - var(--section-rotate));
  padding: calc(5rem + var(--section-rotate)) 0;
  position: relative;
  z-index: 1000;
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from($color-primary-light),
    to($color-primary-dark)
  );
  background: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
  -webkit-clip-path: polygon(
    0 var(--section-rotate),
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
  clip-path: polygon(
    0 var(--section-rotate),
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
}

.reviews {
  padding: 5rem 0;
  display: grid;
  column-gap: 6rem;
  grid-auto-flow: column;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  @include respond(phone) {
    column-gap: 3rem;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &__card {
    width: 30rem;
    padding: 4rem;
    background-color: $color-grey-light-1;
    border-radius: 3px;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    scroll-snap-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  &:before,
  &:after {
    content: '';
    width: 2rem;
  }

  &__avatar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__avatar-img {
    height: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
  }

  &__user {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__text {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-style: italic;
    font-weight: 400;
  }

  &__rating {
    margin-top: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  &__star {
    height: 2rem;
    width: 2rem;
    margin-right: 1px;
  }

  &__star--active {
    fill: $color-primary;
  }

  &__star--inactive {
    fill: $color-grey-light-3;
  }
}

.section-cta {
  z-index: 999;
  margin-top: calc(0px - var(--section-rotate));
  padding: 3rem;
  padding-bottom: calc(var(--section-rotate));
  padding-top: calc(10rem + var(--section-rotate));
  background-color: $color-grey-light-1;
  -webkit-clip-path: polygon(
    0 var(--section-rotate),
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
  clip-path: polygon(
    0 var(--section-rotate),
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );

  @include respond(phone) {
    padding: 1.5rem;
    padding-top: calc(8rem + var(--section-rotate));
  }
}

.cta {
  position: relative;
  max-width: 100rem;
  margin: 0 auto;
  overflow: hidden;
  background-color: $color-white;
  padding: 9rem 5rem 9rem 20rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 3rem 8rem 0.5rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 3rem 8rem 0.5rem rgba(0, 0, 0, 0.15);
  margin-bottom: 10rem;

  @include respond(tab-land) {
    padding: 9rem 5rem 9rem 18rem;
    text-align: center;
  }

  @include respond(tab-port) {
    padding: 8rem 5rem 8rem 16rem;
  }

  @media only screen and (max-width: 46.2em) {
    padding: 5rem 5rem 4rem 14rem;
  }

  @include respond(phone) {
    padding: 4rem 3rem 3rem 13rem;
    width: 100%;
  }

  &__img {
    height: 15rem;
    width: 15rem;
    position: absolute;
    left: 0;
    top: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 1rem 0.5rem 3rem rgba(0, 0, 0, 0.15);
    box-shadow: 1rem 0.5rem 3rem rgba(0, 0, 0, 0.15);

    @include respond(tab-land) {
      height: 12rem;
      width: 12rem;
    }

    @include respond(tab-port) {
      height: 10rem;
      width: 10rem;
    }

    @include respond(phone) {
      height: 8rem;
      width: 8rem;
    }

    &--logo {
      padding: 2rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background: -webkit-gradient(
        linear,
        left top,
        right bottom,
        from($color-primary-light),
        to($color-primary-dark)
      );
      background: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
      z-index: 10;
      -webkit-transform: translate(-35%, -50%);
      transform: translate(-35%, -50%);

      & img {
        width: 100%;
      }
    }

    &--1 {
      -webkit-transform: translate(-10%, -50%) scale(0.97);
      transform: translate(-10%, -50%) scale(0.97);
      z-index: 9;
    }

    &--2 {
      -webkit-transform: translate(15%, -50%) scale(0.94);
      transform: translate(15%, -50%) scale(0.94);
      z-index: 8;
    }
  }

  &__content {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr auto;
    grid-gap: 0.7rem;
    grid-auto-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
  }

  &__text {
    font-size: 1.9rem;
    font-weight: 400;

    @include respond(tab-land) {
      font-size: 1.7rem;
    }

    @include respond(phone) {
      font-size: 1.3rem;
    }
  }
}

.section-submit-review {
  margin-top: calc(0px - var(--section-rotate));
  padding-top: calc(10rem + var(--section-rotate));

  transform: skewX(0);

  & > * {
    transform: skewY(0);
  }
}

.backgroundTourImage {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../../img/tours/tour-2-cover.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

  @include respond(tab-land) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 65%,
        transparent 65%
      ),
      url(../../img/tours/tour-2-cover.jpg);
    background-size: cover;
  }

  @include respond(tab-port) {
    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 100%
      ),
      url(../../img/tours/tour-2-cover.jpg);
  }
}
